<h1>New telephone_number</h1>

<%= error_messages_for :telephone_number %>

<% form_for(@telephone_number) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', telephone_numbers_path %>
